body{
	font-family:Arial,Sans-serif;
}
.octodex{
	display:flex;
}
.octocat{
	
}

.octocat > a > img {
	width:400px;
	border:#d3d3d3 solid 1px;
	margin: 10px;
}

.image-footer img {
	width:20px;
}

.image-footer{
	display:flex;
	justify-content:right;
}
.image-number:before{
	content:'#';
}
.image-caption{
	display:flex;
	align-items: center;
}
a {
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-size: 20px;
}
li {
	list-style-type: none;
}
span {
	font-size :20px;
	color: #a9a9a9;
	margin-left:10px;
	margin-right:10px;
}