body{
	font-family:Arial,Sans-serif;
	border-top: black solid 140px;
	border-bottom: black solid 300px;
	border-right: black solid 10px;
	border-left: black solid 10px;
	padding:0px;
	margin:0px;
	font-size:17px;
}
.octodex{
	display:flex;
	padding:0px;
	margin:5px;
	flex-wrap:wrap;
}
.octocat > a > img {
	width:440px;
	border:#d3d3d3 solid 1px;
	margin: 10px;
}

.image-footer img {
	width:28px;
}
.image-footer {
	width:440px;
	margin: 10px;
	padding-bottom:10px;
	display:flex;
	justify-content:flex-end;
	border-bottom:#d3d3d3 solid 1px;

}
.image-number:before{
	content:'#';
}
.image-number{
	font-size:16px;
	font-color:#d3d3d3;
	margin-top: 7px;
	margin-right:auto;
}
.image-caption{
	display:flex;
	align-items: center;
}
a {
	text-decoration: none;
	color: black;
	font-weight: bold;
}
li {
	list-style-type: none;
}
span {
	color: #a9a9a9;
	margin-left:6px;
	margin-right:6px;
}
.authors{
	padding:0px;
}