.octodex{
	
}
.octocat{

}
.image-footer{
	display:flex;
}
.image-number:before{
	content:'#';
}
.image-caption{
	display:flex;
}
}
a {
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-size: 20px;	
}
li {
	list-style-type: none;
}
span {
	font-size :20px;
	color: #a9a9a9;
}